/*
*    uPro v1.0 Custom Styles
*    by CoderExperts
*    Author: Sayfur Rahman
*    Author URI: http://sayfur.com/
*    Template URI: http://coderexperts.com/
*
*    Table of Contents
*    -------------------------
*    1. Default
*    2. Preloader
*    3. Button
*    4. Main Navigation
*    5. Intro Slider
*    6. About Section
*    7. Service Section & page style
*    8. Testimonial Section
*    9. Team Section
*    10. Counter Section
*    11. Blog Section
*    12. Sidebar
*    13. Pages Intro section
*    14. About Page
*    15. Gallery Page
*    16. Portfolio Pages
*    17. Portfolio Details Pages
*    18. Blog
*    19. Blog Details pages
*    20. Contact Pages
*    21. Call to Action
*    22. Footer
*
*/


/*  Default  */
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: Lato, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}
body {
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 27px;
    background-color: #fff;
    color: #999;
    width: 100%;
    height: 100%;
}
body,
figure {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
::selection {
    background: #1abc9c;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px;
    font-family: Raleway, sans-serif;
}
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}
h1 {
    font-size: 36px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 18px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
p {
    margin: 0 0 10px
}
a {
    text-decoration: none;
    color: #1abc9c;
}
a:hover {
    text-decoration: none;
    color: #999;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
/*  Preloader  */

#mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    z-index: 10000;
    height: 100%;
}
#loader {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
#back-to-top {
    position: fixed;
    opacity: 0.9;
    filter: alpha(opacity=40);
    display: none;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    text-align: center;
    background: #1abc9c;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    text-align: center;
}
#back-to-top:hover {
    background: #001d29;
    opacity: 1;
    filter: alpha(opacity=100);
}
.primary-color {
    color: #1abc9c;
}
.secondary-color {
    color: #001d29;
}
.grey-color {
    color: #999;
}
.lightgrey-color {
    color: #f9f9f9;
}
.dark-background {
    background-color: #f9f9f9;
}
.center {
    text-align: center;
}
blockquote.style1 {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 16.5px;
    border-left: 2px solid #1abc9c;
    background-color: #f9f9f9;
    line-height: 1.5;
}
.bquote-style2 {
    background: #f9f9f9;
    border-left: 1px solid #1abc9c;
    margin: 20px 0;
}
.bquote-style2:before {
    color: #1abc9c;
    content: open-quote;
    font-size: 60px;
    line-height: 1.8px;
    margin-right: 15px;
    vertical-align: -25.5px;
}
.bquote-style2:after {
    color: #1abc9c;
    content: close-quote;
    font-size: 60px;
    line-height: 1.8px;
    margin-left: 15px;
    vertical-align: -25.5px;
}
section {
    padding: 30px 0;
}
.sec-heading {
    margin-bottom: 50px;
}
.sec-heading h2 {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #001d29;
}
.sec-heading h2:after {
    content: '';
    display: block;
    width: 40px;
    border-top: 2px solid #1abc9c;
    margin: 15px auto;
}
.sec-heading-white h2 {
    color: #fff;
}
.sec-heading p {
    max-width: 700px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.sub-heading h3 {
    color: #001d29;
    margin-top: 0px;
}
@media (max-width: 767px) {
    .sub-heading h3 {
        margin-top: 20px;
    }
}
.sub-heading p {
    font-size: 18px;
    color: #444;
}
/*  Button  */

.btn {
    border: 1px solid #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    background: transparent;
    text-transform: uppercase;
    padding: 15px 40px;
    min-width: 162px;
    max-width: 100%;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
}
.btn:hover,
.btn.hovered {
    border: 1px solid #fff;
    -webkit-transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
}
.btn:active,
.btn.pressed {
    opacity: 1;
    border: 1px solid #fff;
    border-top: 3px solid #001d29;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0;
    outline-offset: 0px;
    background: #001d29;
    border: 1px solid #001d29;
    color: #fff;
}
.btn-default {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.btn-default:hover,
.btn-default.hovered {
    background: #001d29;
    color: #fff;
    border: 1px solid #001d29;
}
.btn-default:active,
.btn-default.pressed {
    color: #fff;
    background: #001d29;
    border: 1px solid #001d29;
}
.btn-color {
    background: transparent;
    color: #1abc9c;
    border: 1px solid #1abc9c;
}
.btn-color:hover,
.btn-color.hovered {
    background: #1abc9c;
    color: #fff;
    border: 1px solid #1abc9c;
}
.btn-color:active,
.btn-color.pressed {
    color: #fff;
    background: #1abc9c;
    border: 1px solid #1abc9c;
}
.btn-primary {
    background: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
}
.btn-primary:hover,
.btn-primary.hovered {
    background: #001d29;
    border: 1px solid #001d29;
    opacity: 0.9;
    color: #fff;
}
.btn-primary:active,
.btn-primary.pressed {
    background: #001d29;
    border: 1px solid #001d29;
    color: #fff;
}
.btn-subscribe {
    background: transparent;
    color: #999;
    border: 1px solid #999;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    background: transparent;
    padding: 7px 10px;
    min-width: 100px;
    max-width: 100%;
    text-transform: uppercase;
}
.btn-subscribe:hover,
.btn-subscribe.hovered {
    border: 1px solid #1abc9c;
    color: #999;
}
.btn-subscribe:active,
.btn-subscribe.pressed,
.btn-subscribe:focus {
    border: 1px solid #1abc9c;
    color: #999;
}
.btn-readmore {
    background: transparent;
    border: 1px solid #001d29;
    color: #001d29;
    margin-top: 15px;
    padding: 10px;
    min-width: 90px;
}
.btn-readmore:hover,
.btn-readmore.hovered,
.btn-readmore:active,
.btn-readmore.pressed,
.btn-readmore:focus {
    background: #001d29;
    border: 1px solid #001d29;
    color: #fff;
}
.btn-submit {
    padding: 13px 50px;
    background: #fff;
    color: #999;
    border: 2px solid #dfdfdf;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-transform: uppercase;
}
.btn-submit:hover {
    background: #001d29;
    color: #fff;
    border: 2px solid #dfdfdf;
}
@media (max-width: 480px) {
    .btn-intro-top {
        margin-bottom: 10px;
    }
    .btn-margin-bottom {
        margin-bottom: 10px;
    }
}
@media (max-width: 240px) {
    .btn {
        padding: 15px 0px;
    }
    .btn-intro-top {
        padding: 15px 40px;
    }
}
.upro-social li {
    height: 30px;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 30px;
    padding: 3px !important;
}
.upro-social a {
    color: #ffffff !important;
    height: 30px;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 30px;
    display: block;
}
.upro-social li:hover {
    -webkit-transform: scale(1.3, 1.3) rotate(45deg);
    -moz-transform: scale(1.3, 1.3) rotate(45deg);
    -ms-transform: scale(1.3, 1.3) rotate(45deg);
    -o-transform: scale(1.3, 1.3) rotate(45deg);
    transform: scale(1.3, 1.3) rotate(45deg);
}
.upro-android {
    background: #8ec147;
}
.upro-apple {
    background: #777;
}
.upro-behance {
    background: #0077ff;
}
.upro-bitcoin {
    background: #f79012;
}
.upro-buysellads {
    background: #c90100;
}
.upro-codepen {
    background: #444;
}
.upro-css3 {
    background: #0270bb;
}
.upro-delicious {
    background: #31a9ff;
}
.upro-deviantart {
    background: #05cc47;
}
.upro-digg {
    background: #0093cc;
}
.upro-dribbble {
    background: #ea4c89;
}
.upro-dropbox {
    background: #007ee5;
}
.upro-drupal {
    background: #0073ba;
}
.upro-email-1 {
    background: #35c7ed;
}
.upro-email-2 {
    background: #35c7ed;
}
.upro-facebook {
    background: #4862a3;
}
.upro-flickr {
    background: #ff1981;
}
.upro-foursquare {
    background: #f04d7a;
}
.upro-git {
    background: #f64d27;
}
.upro-github {
    background: #999;
}
.upro-google {
    background: #3f85f4;
}
.upro-google-plus {
    background: #dd4b39;
}
.upro-html5 {
    background: #e54d26;
}
.upro-instagram {
    background: #3d6b92;
}
.upro-joomla {
    background: #fc8f30;
}
.upro-jsfiddle {
    background: #4679bd;
}
.upro-lastfm {
    background: #df1c23;
}
.upro-linkedin {
    background: #0177b5;
}
.upro-linux {
    background: #39a6df;
}
.upro-maxcdn {
    background: #ff5b02;
}
.upro-medium {
    background: #333;
}
.upro-pagelines {
    background: #444;
}
.upro-paypal {
    background: #009cde;
}
.upro-pinterest {
    background: #db242c;
}
.upro-reddit {
    background: #ff4500;
}
.upro-rss {
    background: #fc8f55;
}
.upro-share {
    background: #01924b;
}
.upro-skype {
    background: #00aff0;
}
.upro-slideshare {
    background: #0679b5;
}
.upro-soundcloud {
    background: #ff4e00;
}
.upro-spotify {
    background: #84bd00;
}
.upro-stack-exchange {
    background: #366fb3;
}
.upro-stack-overflow {
    background: #07c;
}
.upro-stumbleupon {
    background: #ea4b24;
}
.upro-trello {
    background: #026aa7;
}
.upro-tumblr {
    background: #2c4762;
}
.upro-twitter {
    background: #55acee;
}
.upro-vimeo {
    background: #44bbff;
}
.upro-vine {
    background: #00bf8f;
}
.upro-vk {
    background: #6281a3;
}
.upro-whatsapp {
    background: #59ac23;
}
.upro-windows {
    background: #00bcf2;
}
.upro-wordpress {
    background: #1e8cbe;
}
.upro-xing {
    background: #006464;
}
.upro-yahoo {
    background: #5210c4;
}
.upro-yelp {
    background: #c41200;
}
.upro-youtube {
    background: #d02022;
}
.upro-youtube-play {
    background: #d02022;
}
.navbar-brand {
    padding: 10px 15px;
}
.navbar-default.affix .navbar-brand {
    display: none;
}
.navbar-default.affix .navbar-brand.navbar-brand-cus {
    display: block;
    margin-left: -15px;
}
.navbar-default .navbar-brand.navbar-brand-cus {
    display: none;
}
@media (max-width: 767px) {
    .navbar-default.affix .navbar-brand.navbar-brand-cus {
        display: block;
        margin-left: 0;
    }
}
/* Main Navigation */

.navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    background-color: transparent;
    border-color: transparent;
    padding: 15px 0;
}
.navbar-default.affix {
    padding: 0;
    background-color: #1abc9c;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.navbar-default .navbar-nav>li {
    margin: 0 15px;
}
@media (max-width: 991px) {
    .navbar-default .navbar-nav > li {
        margin: 0 10px;
    }
}
.navbar-default .navbar-nav>li>a {
    display: block;
    line-height: 22px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 0 10px;
}
.navbar-default .navbar-nav>li>a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1abc9c;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    margin-top: 15px;
    margin-bottom: -15px;
}
.navbar-default.affix .navbar-nav>li>a::after {
    background: #fff;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a:hover::after {
    width: 100%;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li.dropdown>a::after {
    content: none;
}
.dropdown:hover .dropdown-menu {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}
.dropdown-menu {
    background-color: #001d29;
    color: #fff;
    border-top: 2px solid #1abc9c;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    transform: scale(1, 0);
    display: block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
	min-width: 200px;
}

@media (max-width: 767px) {
    .dropdown-menu {
        background-color: #001d29;
        color: #fff;
        border-top: 2px solid #1abc9c;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        transform-origin: top;
        -webkit-animation-fill-mode: none;
        animation-fill-mode: none;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        display: none;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #001d29;
        border-left: 1px solid #001d29;
        background-color: transparent;
    }
}
.navbar-default.affix .dropdown-menu {
    border-top: 2px solid #fff;
    margin-top: 3px;
}

.dropdown-menu>li>a {
    color: #999;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    white-space: normal;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #999;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #1abc9c;
}
.navbar-collapse.in {
    background-color: #1abc9c;
}
/* Intro Slider */

#u-slide {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    padding: 0;
}
#u-slide .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
#u-slide .carousel-fade .carousel-inner .active {
    opacity: 1;
}
#u-slide .carousel-fade .carousel-inner .active.left,
#u-slide .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
#u-slide .carousel-fade .carousel-inner .next.left,
#u-slide .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
#u-slide .carousel-fade .carousel-control {
    z-index: 2;
}
#u-slide .carousel,
#u-slide .carousel-inner,
#u-slide .carousel-inner .item {
    width: 100%;
    height: 100%;
}
#u-slide .carousel-caption {
    top: 35%;
    text-align: center;
    color: #fff;
}
#u-slide .carousel-caption p {
    font-size: 15px;
    text-transform: none;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}
#u-slide .carousel-caption h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
    text-transform: uppercase;
}
#u-slide .caption-left {
    left: 8%;
    text-align: left;
}
#u-slide .type-wrap h1 span {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}
#u-slide .caption-right {
    right: 8%;
    text-align: right;
}
#u-slide .caption-right p {
    margin-left: 40%;
    margin-right: 0%;
}
@media (max-width: 480px) {
    #u-slide .carousel-caption {
        top: 13%;
    }
}
@media (max-width: 320px) {
    #u-slide .carousel-caption {
        top: 13%;
    }
    #u-slide .carousel-caption h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    #u-slide .type-wrap h1 span {
        font-size: 25px;
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 599px) {
	#u-slide .carousel-caption {
		top: 15%;
	}
	#u-slide .carousel-caption h1 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	#u-slide .type-wrap h1 span {
		font-size: 25px;
		margin-bottom: 0px;
	}
	#u-slide .carousel-caption p {
		font-size: 14px;
		margin-left: 0%;
		margin-right: 0%;
		margin-bottom: 10px;
	}
	#u-slide .caption-right p {
		margin-left: 10%;
	}    
}
@media only screen and (min-width: 600px) and (max-width: 699px) {
    #u-slide .carousel-caption {
		top: 15%;
	}
	#u-slide .carousel-caption h1 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	#u-slide .type-wrap h1 span {
		font-size: 30px;
	}
	#u-slide .carousel-caption p {
		margin-left: 0%;
		margin-right: 0%;
	}
	#u-slide .caption-right p {
		margin-left: 10%;
	} 
}
@media only screen and (min-width: 700px) and (max-width: 767px) {
    #u-slide .carousel-caption {
		top: 15%;
	}
	#u-slide .carousel-caption h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
	#u-slide .type-wrap h1 span {
		font-size: 35px;
	}
	#u-slide .carousel-caption p {
		margin-left: 0%;
		margin-right: 0%;
	}
	#u-slide .caption-right p {
		margin-left: 10%;
	}
}
/* About Section */

#about {
    padding-top: 60px;
    padding-bottom: 0;
}


/* Service Section & page style */

.service-item {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 0;
}
.service-item:first-child {
    margin-top: 20px;
}
.service-item > i {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    line-height: 60px;
    background-color: #1abc9c;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.service-item > i:after {
    position: absolute;
    top: 60px;
    bottom: -20px;
    border-left: 2px solid #1abc9c;
    content: "";
}
.service-item:last-child > i:after {
    display: none;
}
.service-item:hover > i {
    background-color: #001d29;
}
.service-item.service-left {
    text-align: right;
}
.service-item.service-left > i {
    float: right;
}
.service-item.service-left > i:after {
    right: 29px;
}
.service-item.service-right > i:after {
    left: 29px;
}
.service-item.service-left .service-detail {
    margin-right: 85px;
    padding-top: 1px;
}
.service-item.service-right > i {
    float: left;
}
.service-item.service-right .service-detail {
    margin-left: 85px;
    padding-top: 1px;
}
.service-item .service-detail h4 {
    font-weight: 700;
}
.service-mid-img {
    vertical-align: middle;
    margin: 0 auto;
    display: block;
}
/* Service  style 2*/

.service-style2 .service-block-icon {
    float: left
}
.service-style2 .service-block-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid #1abc9c;
    border-radius: 1px;
    display: block;
    text-align: center;
    overflow: hidden;
}
.service-style2 .service-block-icon i {
    font-size: 30px;
    color: #1abc9c;
}
.service-style2 .service-block-content {
    margin-left: 90px;
}
.service-style2 .service-block-content h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: #1abc9c;
}
.service-style2:hover .service-block-icon {
    border: 2px solid #001d29;
    color: #001d29;
}
.service-style2:hover .service-block-icon i {
    color: #001d29;
}

/*  Testimonial Section  */

.tm-carousel {
    margin-top: -15px;
}
#testimonial {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url(img/counter-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    color: #fff;
    display: block;
    overflow: hidden;
    text-align: center;
    padding-bottom: 0;
}
#testimonial .sec-head {
    color: #fff;
}
#testimonial i {
    color: #1abc9c;
    font-size: 20px;
    font-weight: 900;
}
#testimonial .tm-control {
    position: absolute;
    top: 60px;
    bottom: auto;
    left: auto;
    right: 2%;
    width: 100%;
}
#testimonial .carousel-control.left,
.carousel-control.right {
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0) 0), color-stop(rgba(0, 0, 0, .0001) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0, rgba(0, 0, 0, .0000) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
#testimonial .carousel-control {
    width: 30px;
    right: 25px;
}
#testimonial a.left.carousel-control {
    left: auto;
    right: 40px;
    width: 30px;
}
#testimonial .item {
    text-align: center;
    margin: 60px 10px 0;
    padding: 0 10% 35px;
    background: #001d29;
}
#testimonial .item .tm-img {
    width: 80px;
    height: 80px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin-top: -40px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#testimonial .item .tm-img img {
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-transform: scale(1.3, 1.3) rotate(45deg);
    -moz-transform: scale(1.3, 1.3) rotate(45deg);
    -ms-transform: scale(1.3, 1.3) rotate(45deg);
    -o-transform: scale(1.3, 1.3) rotate(45deg);
    transform: scale(1.3, 1.3) rotate(45deg);
}
.tm-comment p {
    font-size: 15px;
    font-style: italic;
    line-height: 30px;
    margin: 10px 0 20px;
}
.tm-comment h3 {
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
}
.tm-comment h3:after {
    content: "";
    width: 30px;
    display: block;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
}
#testimonial .item .tm-rating i {
    font-size: 15px;
    padding-right: 5px;
}


/*  Team Section  */

#team {
    display: block;
    overflow: hidden;
}
.team-profile {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.team-profile .overlay {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    z-index: 1;
    padding: 15px;
    top: auto;
    top: 0px;
}
.team-profile .team-content {
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: block;
    vertical-align: middle;
    overflow: hidden;
    bottom: 10%;
}
.team-profile:hover .overlay {
    top: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer 20 20, auto;
}
.team-profile:hover .team-content {
    opacity: 1;
}
.team-content h6 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
}
.team-content p {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.team-items .team-thumb img {
    width: 100%;
}

/*  Counter Section  */

#counter {
    margin-top: 30px;
}
.upro-count {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url(img/counter-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    color: #fff;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 50px 0;
}
.count h1 {
    color: #1abc9c;
}
@media (max-width: 240px) {
    .count h1 {
        font-size: 45px;
    }
}
.count p {
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    font-weight: bold;
}


/*  Blog Section  */

#blog {
    margin-bottom: 30px;
}
.blog-thumbnail-img img {
    width: 100%;
}
.blog-thumb-content ul li {
    color: #001d29;
    font-size: 12px;
}
.blog-thumb-content h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
}
.blog-thumb-content p {
    margin: 5px 0px;
    font-style: italic;
}


/* Sidebar */

.aligncenter,
div.aligncenter {
    display: block;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
a img.alignright {
    float: right;
}
a img.alignleft {
    float: left;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.upro-sidebar {
    margin-left: 30px;
}
.upro-left-sidebar {
    margin-left: 0;
    margin-right: 30px;
}
@media (max-width: 767px) {
    .upro-sidebar {
        margin-left: 0;
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .upro-left-sidebar {
        margin-left: 0;
        margin-right: 0;
    }
}
.upro-sidebar.left-sidebar {
    margin-right: 30px;
    margin-left: 0;
}
.upro-widget-item {
    margin-bottom: 30px;
}
.upro-sidebar-search {
    margin-bottom: 20px;
}
.upro-sidebar h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 0.7;
}
.upro-sidebar h4:after {
    color: #999;
    content: "___";
    display: block;
}
.upro-sidebar a {
    color: #999;
    font-weight: 400;
}
.upro-sidebar a:hover,
.upro-sidebar a:active,
.upro-sidebar a:focus {
    color: #1abc9c;
}
.search-form .searchbox {
    padding: 10px 20px;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    width: 100%;
}
.search-form .searchbox:focus {
    border-radius: 0 5px 5px 0;
}
.search-form .submits {
    font-family: 'fontawesome';
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #1abc9c;
    border-radius: 0 5px 5px 0;
    color: #fff;
    background-color: #1abc9c;
    padding: 10px 20px;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.search-form .submits:hover {
    background-color: #333;
    border-color: #333;
}
.upro-sidebar-search {
    position: relative;
}
.upro-sidebar-widget {
    margin-bottom: 40px;
}
.upro-sidebar-widget ul {
    padding-left: 0;
    list-style: none;
}
.upro-sidebar-widget ul li {
    margin-bottom: 10px;
    position: relative;
}
ul.lefticon {
    padding: 0;
}
ul.lefticon li {
    list-style: none;
}
ul.lefticon li:before {
    font-family: 'fontawesome';
    content: "\f105";
    font-weight: 500;
    padding-right: 10px;
    left: 0;
    color: #999;
}
.rp-post .nav-pills {
    margin-bottom: 10px;
}
.rp-post .nav-pills>li>a {
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 8px;
    font-size: 14px;
    font-weight: bold;
}
.rp-post .nav-pills>li.active>a,
.rp-post .nav-pills>li.active>a:focus,
.rp-post .nav-pills>li.active>a:hover {
    background-color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
    color: #fff;
}
.rp-post .nav>li>a:focus,
.rp-post .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid #999;
    color: #1abc9c;
}
.sidebar-recent-item,
.sidebar-popular-item {
    margin-bottom: 20px;
    overflow: hidden;
}
.sidebar-recent-item-thumb img,
.sidebar-popular-item-thumb img {
    width: 75px;
    height: 75px;
    float: left;
}
.sidebar-recent-item-thumb,
.sidebar-popular-item-thumb {
    width: 40%;
    float: left;
    display: block;
    overflow: hidden;
    padding-right: 20px;
}
.sidebar-recent-item-title,
.sidebar-popular-item-title {
    width: 60%;
    float: left;
    display: block;
    overflow: hidden;
}
@media (max-width: 991px) {
    .sidebar-recent-item-thumb,
    .sidebar-popular-item-thumb {
        width: 12%;
    }
    .sidebar-recent-item-title,
    .sidebar-popular-item-title {
        width: 88%;
    }
}
@media (max-width: 767px) {
    .sidebar-recent-item-thumb,
    .sidebar-popular-item-thumb {
        width: 27%;
    }
    .sidebar-recent-item-title,
    .sidebar-popular-item-title {
        width: 73%;
    }
}
@media (max-width: 360px) {
    .sidebar-recent-item-thumb,
    .sidebar-popular-item-thumb {
        width: 32%;
    }
    .sidebar-recent-item-title,
    .sidebar-popular-item-title {
        width: 68%;
    }
}
@media (max-width: 240px) {
    .blog-post-main {
        margin-top: -65px;
        padding: 70px 10px 10px;
    }
    .upro-sidebar {
        margin-left: 0;
    }
    .rp-post .nav-pills>li>a {
        padding: 10px 5px;
        font-size: 12px;
    }
    .sidebar-recent-item-thumb,
    .sidebar-popular-item-thumb {
        width: 38%;
    }
    .sidebar-recent-item-title,
    .sidebar-popular-item-title {
        width: 62%;
    }
}
.sidebar-recent-item-title p,
.sidebar-popular-item-title p {
    margin-bottom: 5px;
    margin-top: -5px;
}
.sidebar-recent-item-title a,
.sidebar-popular-item-title a {
    font-size: 16px;
    line-height: 18px;
}
.sidebar-recent-item-date,
.sidebar-popular-item-date {
    font-size: 14px;
}
@media (max-width: 1200px) {
    .sidebar-recent-item .sidebar-recent-item-title,
    .sidebar-popular-item .sidebar-popular-item-title {
        padding-left: 10px;
    }
    .sidebar-recent-item .sidebar-recent-item-date,
    .sidebar-popular-item .sidebar-popular-item-date {
        float: left;
        clear: both;
    }
}
/* Pages Intro section */

#intro-page {
    height: 400px;
    width: 100%;
    color: #fff;
}
#intro-page h1 {
    margin-top: 185px;
    text-align: center;
    font-size: 47px;
    text-transform: uppercase;
}
@media (max-width: 479px) {
    #intro-page h1 {
        word-break: break-all;
    }
}
#intro-page h1:after {
    content: '';
    display: block;
    width: 80px;
    border-top: 3px solid #1abc9c;
    margin: 10px auto;
}
#page-breadcrumbe {
    margin-top: 80px;
    overflow: hidden;
    margin-left: -15px;
}
#page-breadcrumbe .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 20px;
    display: inline-block;
    float: right;
    border: 1px solid #f5f5f5;
}
#page-breadcrumbe a {
    color: #999;
    text-decoration: none;
}
#page-breadcrumbe .breadcrumb>.active {
    color: #1abc9c;
}
/*  About Page  */

.about {
    text-align: center;
}
.about .nav-pills {
    margin-bottom: 30px;
    border: 0;
    display: inline-block;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
}
.about .nav-pills li {
    font-size: 15px;
    text-transform: uppercase;
    border-right: 1px solid #ddd;
    margin-bottom: 0;
}
.about .nav-pills > li > a {
    color: #999;
    margin-right: 0px;
    background-color: #fff;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 20px 60px;
}
.about .nav-pills > li > a:Hover {
    background: #1abc9c;
    color: #fff;
}
.about .nav-pills > li > a > i {
    margin-right: 5px;
}
.about .nav-pills > li.active > a,
.about .nav-pills > li.active > a:hover,
.about .nav-pills > li.active > a:focus {
    color: #fff;
    background: #1abc9c;
}
.about .nav-pills > li + li {
    margin-left: 0px;
}
@media (max-width: 480px) {
    .about .nav-pills > li > a {
        padding: 8px;
        font-size: 12px;
    }
}
@media (max-width: 240px) {
    .about .nav-pills > li > a {
        padding: 8px 5px;
        font-size: 10px;
    }
    .about .nav-pills > li > a > i {
        margin-right: 2px;
    }
}
.skill-items {
    display: block;
    overflow: hidden;
    margin-top: 35px;
}
.skill-items .progress {
    height: 10px;
    margin-bottom: 35px;
    background-color: transparent;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
    border: 1px solid #001d29;
}
.skill-items .progress-bar {
    color: #001d29;
    background-color: #001d29;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}
.skill-items .progress-bar p {
    color: #37474f;
    margin-top: -25px;
    display: block;
    overflow: hidden;
}
.skill-items .progress-bar span.skill-name {
    position: absolute;
    left: 15px;
}
.skill-items .progress-bar span.skill-score {
    position: absolute;
    right: 15px;
}
#howwework i {
    color: #001d29;
}
.text-heading {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    color: #1abc9c;
}
#partenrs-logo {
    padding: 30px 0;
}
#partenrs-logo img {
    background-color: #fff;
    padding: 35px 10px;
}
#partenrs-logo img:hover {
    opacity: 0.6;
}
/* Gallery Page */

#gallery-items {
    margin-bottom: 30px;
}
#gallery-items .container-fluid {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.gallery-items {
    display: block;
    overflow: hidden;
}
.gallery-items .item {
    display: block;
    overflow: hidden;
}
.gallery-style1 .gallery-items .item {
    margin-bottom: 30px;
}
.gallery-style2 .gallery-items .item {
    margin: 0 -15px;
}
.gallery-items .item h2.gallery-item-title {
    position: absolute;
    display: block;
    overflow: hidden;
    bottom: 20px;
    z-index: 1;
    font-size: 15px;
    text-transform: uppercase;
    background-color: rgba(26, 188, 156, 1);
    color: #f9f9f9;
    padding: 10px;
    opacity: 0;
    transform: scale(1);
    -webkit-transition: opacity 2s ease 0s, transform 2s ease 0s;
    -moz-transition: opacity 2s ease 0s, transform 2s ease 0s;
    transition: opacity 2s ease 0s, transform 2s ease 0s;
}
.gallery-style2 .gallery-items .item h2.gallery-item-title {
    bottom: -10px;
}
.gallery-style2 .container-fluid .gallery-items .item h2.gallery-item-title {
    left: 15px;
}
.gallery-items .item:hover {
    background-color: rgba(26, 188, 156, 1);
}
.gallery-items .item:hover h2.gallery-item-title {
    opacity: 1;
    transform: scale(1);
    -webkit-transition: opacity 5s ease 0s, transform 5s ease 0s;
    -moz-transition: opacity 5s ease 0s, transform 5s ease 0s;
    transition: opacity 5s ease 0s, transform 5s ease 0s;
    background-color: rgba(26, 188, 156, 0.75);
}
.gallery-items .item img {
    opacity: 1;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}
.gallery-items .item:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.5;
    -webkit-transition: opacity 5s ease 0s, transform 5s ease 0s;
    -moz-transition: opacity 5s ease 0s, transform 5s ease 0s;
    transition: opacity 5s ease 0s, transform 5s ease 0s;
    background-color: rgba(26, 188, 156, 0.75);
    cursor: crosshair;
}
/*  Portfolio Pages  */

#portfolio {
    width: 100%;
    margin-bottom: 30px;
}
.portfolio-itme-style2 .container-fluid {
    padding: 0;
    display: block;
    overflow: hidden;
}
.portfolio-itme-style1 .container {
    padding-right: 30px;
    padding-left: 30px;
}
#portfolio-filter {
    text-align: center;
    padding-bottom: 20px;
}
#portfolio-filter ul li {
    color: #999;
    cursor: pointer;
    text-transform: uppercase;
}
#portfolio-filter ul li:after {
    content: "/";
    padding-left: 20px;
}
#portfolio-filter ul li:last-child:after {
    content: "";
    padding-left: 0px;
}
#portfolio-filter .active {
    color: #1abc9c;
    pointer-events: none;
}
#portfolio-filter li:focus {
    outline: 0;
}
.portfolio-itme-style1 #portfolio-itmes {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0;
}
.portfolio-itme-style1 .portfolio-itme {
    padding: 0;
}
.portfolio-itme-style2 .portfolio-itme {
    margin-bottom: 30px;
}
.portfolio-thumb {
    position: relative;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: -1px;
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0)
}
.portfolio-overlay {
    position: absolute;
    width: 90%;
    background-color: rgba(26, 188, 156, 0.75);
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    height: 85%;
    top: 7.5%;
    left: 5%;
}
.portfolio-itme:hover .portfolio-overlay {
    opacity: 1;
}
.portfolio-overlay a {
    color: #f9f9f9;
}
.portfolio-overlay h3,
.portfolio-overlay p {
    position: absolute;
    left: 10px;
    bottom: 40px;
    font-weight: bold;
    font-size: 18px;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    text-transform: lowercase;
}
.portfolio-overlay a.portfolio-view {
    position: absolute;
    right: 10px;
    bottom: 40px;
    font-weight: bold;
    font-size: 25px;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    text-transform: lowercase;
}
.portfolio-overlay:hover a.portfolio-view {
    right: 40px;
    opacity: 1
}
.portfolio-overlay:hover h3,
.portfolio-overlay:hover p {
    left: 40px;
    opacity: 1
}
.portfolio-overlay p {
    font-weight: bold;
    font-size: 12px;
    bottom: 20px;
}
.portfolio-itme img {
    width: 100%;
    display: block;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}
.portfolio-itme:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
/*  Portfolio Details Pages  */

.details-portfolio-info h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.3;
}
.portfolio-info {
    border-bottom: 1px dashed #d8d8d8;
    font-size: 13px;
    color: #1abc9c;
    padding-top: 15px;
    padding-bottom: 15px;
}
.portfolio-info li a {
    color: #999;
}
.portfolio-info li a:hover {
    color: #1abc9c;
}
.portfolio-details-content ul {
    list-style: none;
    padding: 0;
}
.portfolio-inormation li {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    padding: 15px 0;
}
.portfolio-inormation li .block-title {
    color: #999;
    margin-right: 20px;
}
.portfolio-details {
    margin: 20px 0;
}
.portfolio-details a {
    position: relative;
}
.portfolio-details ul {
    list-style: none;
    padding: 0;
}
.portfolio-details ul li {
    padding: 4px 0;
}
.portfolio-details ul li span {
    min-width: 100px;
    display: inline-block;
    color: #001d29;
    font-weight: bold;
}
#reletedPortfolio .pager {
    padding-left: 0;
    margin: 20px 10px;
    text-align: right;
    list-style: none;
}
#reletedPortfolio .pager li>a,
#reletedPortfolio .pager li>span {
    display: inline-block;
    padding: 0px 5px;
    background-color: transparent;
    border: 0px solid #ddd;
    border-radius: 0;
}
#reletedPortfolio .pager li>a:hover,
#reletedPortfolio .pager li>span:hover,
#reletedPortfolio .pager li>a:active,
#reletedPortfolio .pager li>span:active {
    background-color: transparent;
    border: transparent;
    border-radius: 0;
}
/* Blog */

#blog-items {
    display: block;
    overflow: hidden;
}
.single-post-bottom-margin {
    margin-bottom: 40px;
}
.post-info {
    border-bottom: 1px dashed #d8d8d8;
    font-size: 13px;
    color: #1abc9c;
    padding-top: 15px;
    padding-bottom: 15px;
}
.post-info li a {
    color: #999;
}
.post-info li a:hover {
    color: #1abc9c;
}
.overlay-date {
    width: 45px;
    height: 45px;
    background: #1abc9c;
    color: #fff;
    padding: 2px 0;
    position: relative;
    margin-top: -45px;
    text-align: center;
    z-index: 1;
    font-weight: bold;
    font-size: 10px;
    top: 45px;
}
.overlay-date p {
    line-height: 16px;
    padding-top: 5px;
}
.overlay-date span {
    display: block;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
}
.single-post-item .post-item-featured-image {
    display: block;
    overflow: hidden;
}
.single-post-item .post-item-featured-image img {
    display: block;
    width: 100%;
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 5s ease 0s, transform 5s ease 0s;
    -moz-transition: opacity 5s ease 0s, transform 5s ease 0s;
    transition: opacity 5s ease 0s, transform 5s ease 0s;
}
.single-post-item .post-item-featured-image:hover img {
    transform: scale(1.12);
    opacity: 1;
    -webkit-transition: opacity 5s ease 0s, transform 5s ease 0s;
    -moz-transition: opacity 5s ease 0s, transform 5s ease 0s;
    transition: opacity 5s ease 0s, transform 5s ease 0s;
}
.post-info i {
    padding-right: 5px;
}
.post-content h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0;
}
.readmore i {
    padding-left: 10px;
}
.upro-pagination {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0 5px;
}
.upro-pagination .pagination>li>a,
.upro-pagination .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #999;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #1abc9c;
}
.upro-pagination .pagination>li>a:focus,
.upro-pagination .pagination>li>a:hover,
.upro-pagination .pagination>li>span:focus,
.upro-pagination .pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}
.upro-pagination .pagination>.active>a,
.upro-pagination .pagination>.active>a:focus,
.upro-pagination .pagination>.active>a:hover,
.upro-pagination .pagination>.active>span,
.upro-pagination .pagination>.active>span:focus,
.upro-pagination .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1abc9c;
    border-color: #1abc9c;
}
/*  Blog Details Pages  */

.blog-details-content {
    width: 100%;
    display: block;
    overflow: hidden;
}
.details-post-info h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.3;
}
.blog-details-featured-block {
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
}
.blog-details-featured-block img {
    display: block;
    width: 100%;
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 5s ease 0s, transform 5s ease 0s;
    -moz-transition: opacity 5s ease 0s, transform 5s ease 0s;
    transition: opacity 5s ease 0s, transform 5s ease 0s;
}
.blog-details-featured-block:hover img {
    transform: scale(1.12);
    opacity: 1;
    -webkit-transition: opacity 5s ease 0s, transform 5s ease 0s;
    -moz-transition: opacity 5s ease 0s, transform 5s ease 0s;
    transition: opacity 5s ease 0s, transform 5s ease 0s;
}
.blog-post-share ul li a {
    color: #999;
}
.blog-post-share ul li a:hover {
    color: #1abc9c;
}
.post-main-content {
    line-height: 1.9;
}
.post-main-content .letter-block {
    float: left;
    font-size: 60px;
    margin-right: 10px;
    line-height: 0.7;
    color: #1abc9c;
    font-weight: 500;
    margin-top: 10px;
}
.area-title {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
.area-title h5 {
    font-size: 17px;
    color: #001d29;
    text-transform: uppercase;
}
.area-title h5:after {
    content: "";
    width: 100%;
    margin-right: -100%;
    position: relative;
    border-top: 1px solid #f2f2f2;
    display: inline-block;
}
.area-title .total-comments {
    padding-right: 9px;
    color: #a8a8a8;
    margin-left: 5px;
}
.post-next-prev {
    display: block;
    overflow: hidden;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin: 30px 0;
}
.post-next-prev a {
    text-transform: uppercase;
    color: #999;
    line-height: 70px;
    display: block;
}
.post-next-prev a:hover {
    color: #1abc9c;
}
.post-next-prev span {
    padding: 0 10px;
}
.related-post {
    display: block;
    overflow: hidden;
}
#reletedPost i {
    padding-right: 5px;
    color: #1abc9c;
}
#reletedPost .carousel-nextPre {
    float: right;
}
#reletedPost .pager {
    margin: 0 10px 15px;
}
#reletedPost .pager li>a,
.pager li>span {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    border: transparent;
    border-radius: 0;
}
#reletedPost .pager li>a:hover,
#reletedPost .pager li>span:hover,
#reletedPost .pager li>a:active,
#reletedPost .pager li>span:active {
    background-color: transparent;
    border: transparent;
    border-radius: 0;
}
#portfolio-details-page .single-post-item {
    margin: 0 -15px;
    padding-right: 5px;
}
.related-post .post-info {
    font-size: 13px;
    color: #1abc9c;
    padding-top: 15px;
    padding-bottom: 0px;
    border-bottom: 0px dashed #d8d8d8;
}
.related-post h2 {
    background-color: transparent;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}
#user-comments .item {
    margin-bottom: 25px;
}
#user-comments .comments > .item > .comments {
    margin-left: 80px;
}
#user-comments .item .avatar {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}
#user-comments .item .avatar img {
    width: 100%;
    display: block;
}
.comments-info {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
#user-comments .item .comments-detail {
    margin-left: 80px;
    background-color: #f9f9f9;
    padding: 20px 25px;
    margin-bottom: 25px;
}
#user-comments .item .user-name,
#user-comments .item .date,
#user-comments .item .reply {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}
#user-comments .item .user-name {
    text-transform: uppercase;
    font-weight: bold;
    color: #1abc9c;
    margin-right: 20px;
}
#user-comments .item .date {
    color: #999;
    margin-right: 20px;
    font-size: 13px;
}
#user-comments .item .reply-btn {
    color: #999;
    font-size: 16px;
}
#user-comments .item .reply-btn:hover {
    color: #1abc9c;
}
#comment-submit-area .form-group {
    margin-bottom: 17px;
}
#comment-submit-area .form-group label {
    font-weight: normal;
}
#comment-submit-area .form-group label sup {
    color: red;
    font-size: 16px;
    top: -2px;
}
/* Contact Pages  */

.contact-details {
    text-align: center;
}
.icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: #1abc9c;
    color: #fff;
    margin: 0 0 30px 0;
    padding: 8px 15px;
    font-size: 20px;
    text-align: center;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon i {
    width: 60px;
    height: 60px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icon:hover {
    background: #001d29;
    -webkit-transform: scale(1.3, 1.3) rotate(45deg);
    -moz-transform: scale(1.3, 1.3) rotate(45deg);
    -ms-transform: scale(1.3, 1.3) rotate(45deg);
    -o-transform: scale(1.3, 1.3) rotate(45deg);
    transform: scale(1.3, 1.3) rotate(45deg);
}
.form-input {
    width: 100%;
    height: 50px;
    border: 0;
    color: #333;
    border-bottom: 1px solid #dfdfdf;
    padding-left: 10px;
    margin-bottom: 15px;
}
.contact-form textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 0 0 10px;
    margin-bottom: 15px;
}
.contact-form {
    margin-top: 90px;
}
.contact-form .btn-submit {
    margin: auto;
    margin-top: 30px;
    display: block;
}
.block-phone,
.block-address,
.block-mail {
    margin: 30px 0;
}
.contact-style2 .contact-form {
    margin-top: 20px;
}
#gmap {
    margin-bottom: -30px;
    margin-top: 30px;
}
#gmap .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/*  Call to Action  */

#upro-calltoaction {
    background: #1abc9c;
    color: #fff;
    padding: 0px 0 22px;
}
.upro-calltocontent h2 {
    margin-bottom: 0;
}
.upro-calltocontent p {
    color: #fff;
}
.upro-calltocontent .fa {
    margin-right: 15px;
    margin-top: 30px;
    float: left;
}
.upro-calltobutton .btn-default {
    margin-top: 35px;
}
@media (max-width: 1024px) {
    #upro-calltoaction h2 {
        font-size: 38px;
    }
}
@media (max-width: 991px) {
    #upro-calltoaction {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 35px;
    }
    .upro-calltocontent {
        text-align: center;
    }
    .upro-calltocontent .fa {
        float: none;
    }
    .upro-calltobutton .btn.btn-default {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
}

/*  Footer  */

#footer {
    padding-bottom: 20px;
    background-color: #001d29;
    color: #999;
}
#footer a {
    color: #999;
}
#footer a:hover {
    color: #1abc9c;
}
ul.tags li a {
    color: #999;
    border: 1px solid #999;
    padding: 0px 10px;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 10px;
}
ul.tags li a:hover {
    color: #1abc9c;
    border: 1px solid #1abc9c;
}
#footer ul {
    padding-left: 0;
}
#footer ul.upro-social {
    padding-left: 10px;
    margin-left: 0;
}
#footer ul li {
    list-style: none;
    padding: 5px;
}
.footer-widget {
    display: block;
    overflow: hidden;
    margin-top: 10px;
}
@media (max-width: 767px) {
    .footer-widget {
        margin-top: 30px;
    }
}
.footer-logo {
    padding-bottom: 20px;
    display: block;
    overflow: hidden;
}
.footer-widget p {
    padding-bottom: 15px;
}
.footer-widget h4.widget-title {
    margin-top: -5px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.footer-widget h4.widget-title:after {
    content: '';
    display: block;
    width: 40px;
    border-top: 2px solid #1abc9c;
    margin: 10px 0;
}
.subscribe-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999;
    background-color: transparent;
    background-image: none;
    border: 1px solid #999;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}